@font-face {
    font-family: 'norsebold';
    src: url('./assets/fonts/norse-bold-webfont.woff2') format('woff2'),
         url('./assets/fonts/norse-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

input, button, textarea, select {
  font: inherit;
}

.container {
    display: flex;
    width: 100vw;
    height: 100vh;
    align-items: stretch;
}

.image-section {
    width: 35%;
}

.background {
    display: inline;
    width: 100%;
    height: 100%;
}

.odin-logo {
    display: inline;
    width: 20%;
}

.image-text {
    position: fixed;
    left: 100px;
    top: 200px;
    font-size: 4rem;
    color: white;
    font-family: 'norsebold';
}

.content-section {
    display: flex;
    flex-direction: column;
    width: 65%;
    height: 100%;
}

.header {
    height: 40%;
    margin-top: 00px;
}

.main {
    height: 30%;
}

.footer {
    height: 30%;
}